<nav class="navbar navbar-expand-lg d-md-flex justify-content-center">
  <div class="container-fluid col-lg-3 col-md-12 d-md-flex justify-content-center">
    <a class="navbar-brand m-0" href="index.html">
      <img
        src="../../pics/deepfryer.jfif"
        alt="logo"
        width="130"
        height="110"
        class="img d-inline-block align-text-top rounded-circle"/>
    </a>
  </div>
  <button
    class="navbar-dark navbar-toggler m-auto"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav col-lg-9 col-md-12 m-auto justify-content-end">
      <li class="nav-item p-lg-5">
        <class="nav-link active text-black">
        <a class="nav-link text-muted" href="index.html" id="headerHome">Home</a>
      </li>
      <li class="nav-item p-lg-5">
        <a class="nav-link text-muted" href="shop.html" id="headerShop">Shop</a>
      </li>
      <li class="nav-item p-0 p-lg-5">
        <a class="nav-link text-muted" href="products.html" id="headerProducts">Products</a>
      </li>
      <li class="nav-item p-0 p-lg-5">
        <a class="nav-link text-muted" href="checkout.html" id="headerCheckout">Checkout</a>
      </li>
      <li class="nav-item p-lg-5">
        <a class="nav-link text-muted" href="about.html" id="headerAboutUs"><center>About Us</center></a>
      </li>
      <li class="nav-item p-lg-5">
        <a class="nav-link text-muted" href="contact.html" id="headerContactUs"><center>Contact Us</center></a>
      </li>
    </ul>
  </div>
</nav>
